<!DOCTYPE html>
<html>

<head>
	<title>File Metadata</title>
	<link rel="shortcut icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📁</text></svg>"
		type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
	<link href="/public/style.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<h1>File Metadata Microservice</h1>
	</header>
	<main>
		<div class="container">
			<div class="card">
				<div class="card-content">
					<h2>File Fact Finder</h2>
					<p>Ever wondered the mimetype of a file? Need to know the size of a file? Look no further!</p>
					<p><span class="text--primary">File Metadata&copy;</span> will take your uploaded file and provide
						you the mimetype, file size, and file name. Start uploading today!</p>
				</div>
			</div>

			<div class="card">
				<div class="card-media">
					<img class="upload" src="/public/upload.png" alt="Image of Dilbert" />
				</div>
				<div class="card-content">
					<form enctype="multipart/form-data" method="POST" action="/api/fileanalyse" class="form">
						<div class="form-header">
							<h3>Usage:</h3>
							<p>Please Upload a File</p>
						</div>
						<div class="form-body">
							<input id="inputfield" type="file" name="upfile" />
						</div>
						<div class="form-footer">
							<input class="button" id="button" type="submit" value="Upload" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="container">
			<p>by <a href="https://www.github.com/richardtorres314">Richard Torres</a></p>
		</div>
	</footer>
</body>

</html>
